body 
{
    background-image: linear-gradient(to bottom right, rgba(255,0,0,0), rgba(200,200,200,1));
    font-family: Arial, Helvetica, sans-serif;
    width:100vw;
    height:100vh;
    overflow:hidden;
}

.banner
{
    width:100vw;
    height:8vh;
    margin-top:2vh;
    margin-bottom:2vh;
    background-image: linear-gradient(to bottom right, rgba(100,100,100,1), rgba(0,0,0,1));
    color:silver;
    font-size:3vmax;
    padding-left:3vw;
}

div
{
    font-family: Arial, Helvetica, sans-serif;
}
input
{
 border-radius: 0.5vmax;
}

ul {
    position: fixed;
    bottom: 0;
    margin-left:3vw;
    padding: 0;
    border: 0.1vmax solid silver;
    width: 91vw;
    height: 73vh;
    overflow-x: hidden;
    font-size: 1.5vmax;
}

.button
{
    display:inline-table;
    border:0.2vmax linear-gradient(to bottom right,  rgba(0,0,0,1), rgba(100,100,100,1));
    width:7vw;height:5vh;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    cursor:pointer;
    color:silver;
    font-size:1.5vmax;
    border-radius: 0.8vw;
    padding-top:0vh;
    background-image: linear-gradient(to bottom right,  rgba(0,0,0,1), rgba(100,100,100,1));
}

.button:hover
{
    border:0.2vmax solid silver;
}

#save:hover {
    border:0.2vmax solid green;
}

#cancel:hover {
    border:0.2vmax solid red;
}

.deleteAction
{
    display:inline-table;
}
.nameLine
{
    display: inline-table;
    border: 0.1vmax solid silver;
    min-width: 9vw;
    text-align: center;
    height: 3vh;
    cursor: pointer;
}

.nameLine:hover
{
 background-color:gray;   
}

li 
{
padding:0 0 0 0;
}

.title
{
    position:relative;
    border:0.1vmax solid silver;
    width:10vw;
    height:4vh;
    display:inline-table;
    margin:0 0 0 0;
    text-align:center;
}

::-webkit-scrollbar {
    width: 1vw;
    height: 5vh;
}

::-webkit-scrollbar-track {
    background-image: linear-gradient(to bottom right, rgba(255,0,0,0), rgba(200,200,200,1));
}
   
::-webkit-scrollbar-thumb {
    border-radius: 1vmax;
    background-image: linear-gradient(to bottom right,  rgba(0,0,0,1), rgba(100,100,100,1));
    border:0.1vmax linear-gradient(to bottom right,  rgba(0,0,0,1), rgba(100,100,100,1));

}
  
::-webkit-scrollbar-thumb:hover {
    border:0.1vmax solid silver;
}